services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: carcatalog
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      # Это перекроет настройки из application.properties
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/carcatalog
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123